.zoom-in {
    animation: zoomIn 1s ease forwards;
  }
  
  @keyframes zoomIn {
    0% {
      transform: scale(0.7);
    }
    100% {
      transform: scale(1);
    }
  }


  .navigation {
    position: relative;
    width: 100%;
    background: rgba(27, 154, 179, 1);
    display: flex;
    justify-content: center;
    align-items: center;

}
.navigation ul {
    display: flex;
    width: 350px;
}
.navigation ul li {
    position: relative;
    width: 70px;
    height: 70px;
    list-style: none;
    z-index: 1;
}
.navigation ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}
.navigation ul li a .icon {
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    color: #fff;
    transition: .5s;
}
.navigation ul li.active a .icon {
    transform: translateY(-32px);
}
.navigation ul li a .text {
    position: absolute;
    color: #fff;
    font-weight: 400;
    font-size: .75em;
    letter-spacing: .05em;
    opacity: 0;
    transform: translateY(20px);
    transition: .5s;
}
.navigation ul li.active a .text {
    opacity: 1;
    transform: translateY(10px);
}
.navigation ul li a .circle {
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    border: 1.8px solid #fff;
    transform: translateY(-37px) scale(0);
}
.navigation ul li.active a .circle {
    transition: .5s;
    transition-delay: .5s;
    transform: translateY(-37px) scale(1);
}
.indicator {
    position: absolute;
    top: -50%;
    width: 70px;
    height: 70px;
    background: rgb(22, 121, 141);

    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}
.indicator::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -22px;
    width: 20px;
    height: 20px;
    background: transparent;

}
.indicator::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
}
.navigation ul li:nth-child(1).active~.indicator {
    transform: translateX(calc(70px * 0));
}
.navigation ul li:nth-child(2).active~.indicator {
    transform: translateX(calc(70px * 1));
}
.navigation ul li:nth-child(3).active~.indicator {
    transform: translateX(calc(70px * 2));
}
.navigation ul li:nth-child(4).active~.indicator {
    transform: translateX(calc(70px * 3));
}
.navigation ul li:nth-child(5).active~.indicator {
    transform: translateX(calc(70px * 4));
}
.list_of_driver ul li{
    margin-bottom: 10px;
    background-color: white;
    padding: 10px;
    border-radius: 8px;
}


#distribut_cat{
    background-color: rgba(27, 154, 179, 1);
}
#sales_cat{
    background-color: rgb(19, 109, 128);
}
#retailer_cat{
    background-color: rgba(27, 154, 179, 1);
}

#retail{
    display: none;
}
#pilot{
    display: block;
}
#distri{
    display: none;
}
